@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #676767;
  overflow: hidden;
  background-color: white;
}

main {
  flex-grow: 1;
  background-color: white;
}
.modak {
  font-family: "Modak", cursive;
}
a {
  text-decoration: none;
}

p {
  font-family: sans-serif;
  font-size: 1.2em;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.color-splash {
  height: 0.2em;
}

.img-wrapper {
  right: 0;
  bottom: 0;
}
.anchor {
  position: relative;
}

.card {
  background-color: #ffffff30;
  backdrop-filter: blur(5px);
  color: black;
}

.top-dog {
  font-family: "Inter", sans-serif;
  font-size: 6em;
  color: rgb(39, 39, 39);
  font-weight: bold;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0);
}

.upon-exit {
  opacity: 0;
}

@font-face {
  font-family: "Dimbo";
  src: url("./assets/fonts/Dimbo_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DimboItalic";
  src: url("src/assets/fonts/Dimbo Italic.ttf") format("truetype");
}

h1 {
  font-family: "Dimbo", sans-serif;
  font-size: 6em;
  color: rgb(39, 39, 39);
}

h2 {
  font-family: "Dimbo", sans-serif;
  font-size: 3em;

  color: rgb(39, 39, 39);
  font-weight: bold;
}

h3 {
  font-family: "DimboItalic", sans-serif;
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
}

.title-text {
  font-family: "DimboItalic", sans-serif;
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
}

.dog-text-mid {
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  top: 80%;
  left: 35%;
  background-color: rgba(0, 0, 0, 0.404);
  color: yellow;
  font-family: "Bungee", cursive;
}

.date-box {
  outline: 2px rgba(6, 6, 6, 0.297) solid;
}
.mid-area {
  z-index: 100;
}

.gallery-holder {
  background-color: rgba(0, 0, 0, 0.763);
  position: relative;
  height: 70vh;
}
.pet-pics {
  transition: 1000ms;
  padding-top: 1em;
}

.dimbo {
  font-family: "Dimbo", sans-serif;
}
.dimbo-i {
  font-family: "DimboItalic", sans-serif;
}
.modak {
  font-family: "Modak", cursive;
}

.pet-pics:active {
  transition: 1000ms;
  margin-left: 0%;
  width: 100%;
  position: absolute;
  height: 100%;
  left: -50vw;
  top: 0;
}

.dog-items {
  top: 10%;
}

.icon-fun {
  font-size: 10em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100em);
  }
  to {
    transform: translateX(0em);
  }
}

.three-dogs {
  animation: fadeIn;
  animation-duration: 2000ms;
}

.top-text {
  animation: slideIn;
  animation-duration: 2000ms;
}

.scrolling-wrapper {
  margin-top: 2em;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.reviews {
  animation-name: moveRight;
  animation-duration: 10000ms;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
